.profile-wrapper {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: #f9f9f9;
  height: 100vh;
}

.profile-container {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.profile-heading {
  margin-bottom: 1.5rem;
  text-align: center;
  color: #333;
}

.profile-label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.profile-input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.profile-button-container {
  display: flex;
  justify-content: space-between;
}

.save-button {
  background-color: rgb(3, 150, 33);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}

.logout-button {
  background-color: #e03535;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}
